/*Base*/
/*Colores*/
/*Fonts*/
h1,
h2,
h3,
p {
  font-family: "Oswald", sans-serif;
  color: white;
}

/*Components*/
/* Header segment----------------------------- */
div.bg-header {
  background-image: url("../images/header-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 780px;
  width: 100%;
  margin: 0 auto;
}

div.header-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 765px;
  max-width: 768px;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 70px;
}

div.header-content h1 h2 {
  color: black;
}

.headline {
  font-family: "Oswald", sans-serif;
  color: black;
}

.subheadline {
  font-family: "Oswald", sans-serif;
  color: black;
}

/* Buttons ----------------------------- */
.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: transparent;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  width: 100px;
  margin: 0 auto;
  box-shadow: 0 0 0 0 rgba(49, 132, 253, 0.5);
}

.btn-primary:hover {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  font-family: "Oswald", sans-serif;
}

.btn-primary:hover a {
  color: white;
}

.btn-primary a {
  color: white;
}

.btn-group-vertical,
.btn-group-vertical:active,
.btn-group-vertical:focus,
.btn-group-vertical:active:focus {
  width: 100%;
}

/* Screen segment----------------------------- */
.screen {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

/* Processor segment--------------------------- */
.processor {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

/* Design segment------------------------------- */
.design {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

#carouselExampleIndicators {
  max-width: 1000px;
  margin: 0 auto;
}

/* Design segment-------------------------------- */
.graphics {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

/* Connectivity segment-------------------------- */
.connectivity {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

/* Footer----------------------------- */
.footer {
  max-width: 1000px;
  margin: 0 auto;
}
.footer h3 {
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  color: white;
}
.footer a {
  font-family: "Oswald", sans-serif;
  color: #4CAF50;
}
.footer i {
  color: #4CAF50;
}

/* Responsive Settiings -------------------------- */
/*Mobile-----------------------------------------------*/
@media only screen and (max-width: 400px) {
  .body {
    background-color: black;
  }

  div.bg-header {
    background-image: url("../images/header-mb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .btn-container {
    display: none;
  }
}
/*Tablet-----------------------------------------------*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .body {
    background-color: black;
  }

  .hamburguer-menu {
    display: none;
  }
}
/*Desktop----------------------------*/
@media only screen and (min-width: 961px) {
  .body {
    background-color: black;
  }

  .hamburguer-menu {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
