/* Responsive Settiings -------------------------- */
/*Mobile-----------------------------------------------*/

@media only screen and (max-width: 400px) {
    .body {
        background-color: $main-color;
    }

    div.bg-header {
        background-image: url("../images/header-mb.jpg");
        background-position: center;
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
        margin: 0 auto;
    }

    .btn-container {
        display: none;
    }

    .badges-imgs {
        display: none;
    }

    div.header-content {
        padding-top: 10px;
    }

    .headline {
        font-size: 35pt;
    }

    .video-bg {
        display: none;
    }
}

/*Tablet-----------------------------------------------*/

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .body {
        background-color: $main-color;
    }

    .hamburguer-menu {
        display: none;
    }

    .badges-imgs {
        display: none;
    }
}

/*Desktop----------------------------*/

@media only screen and (min-width: 961px) {
    .body {
        background-color: $main-color;
    }

    .hamburguer-menu {
        display: none;
    }
}