/* Screen segment----------------------------- */

.screen {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0px 20px 0px;
}

.screen h2 {
    font-weight: bolder;
}

.tooltips {
    height: 10px;
}

.tooltip-a {
    position: relative;
    top: 210px;
    z-index: 1;
    left: -60px;
}

.tooltip-b {
    position: relative;
    top: 310px;
    z-index: 1;
    left: -60px;
}

.tooltip-c {
    position: relative;
    top: 450px;
    z-index: 1;
    left: -150px;
}

/* Processor segment--------------------------- */

.processor {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

.processor h2 {
    font-weight: bolder;
}

.badges-imgs {
    padding: 5px;
}


/* Design segment------------------------------- */

.design {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

.design h2 {
    font-weight: bolder;
}

#carouselExampleIndicators {
    max-width: 1000px;
    margin: 0 auto;
}
/* Design segment-------------------------------- */

.graphics {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

.graphics h2 {
    font-weight: bolder;
}


/* Connectivity segment-------------------------- */

.connectivity {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

.connectivity h2 {
    font-weight: bolder;
}

.connectivity ul {
    font-family: $main-font;
    color: $main-font-color;
    list-style-type: none;
    margin-left: -35px;
}

.connectivity i {
    color: $accent-color;
}

/* Pricing segment-------------------------- */

.container {
    max-width: 1000px;
}

.pricing-header {
    max-width: 700px;
}

.card-header {
    background-color:#222;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
    background-color:#222;
}

.card-header h5 {
    font-family: $main-font;
    color: white;
}

.card-body h1 {
    font-family: $main-font;
    color:$accent-color;
}

.card-body ul {
    font-family: $main-font;
    color: white;
}

.card {
    border: 1px solid rgba(0,0,0,.125);
}

/* Form Pre-Sale segment-------------------------- */

.row {
    font-family: $main-font;
    color: white;
}

.form-group{
    font-family: $main-font;
    color: white;
}

.form-control {
    margin: 0px 0px 20px 0px;
}

.form button {
    margin: 10px;
}